@media screen and (max-width : 565px) {
    main {
        padding: 0vw 1vw;

    }

    #page1 {
        min-height: 100vh;
        padding: 2vw 0vw;

    }

    #navbar {
        padding: 5vw 2vw 2vw 4vw;

    }

    #navbar img {
        /* scale: 0.8; */
        height: 12vw;
        transition: all .6s ease;
    }

    #nav-links {
        display: none;
    }

    #navbar h3 {
        display: block;
        padding: 2vw 4vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        cursor: pointer;/
    }


    #hero-content {
        height: 67vh;
        width: 100%;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
    }

    #hero-content #left {
        width: 100%;
        font-size: 5.5vw;
        line-height: 6vw;
        align-self: flex-start;
    }

    #left h3 {
        width: 85%;
        font-size: 3.5vh;
        line-height: 4vh;
    }


    #right h1 {
        font-size: 14vw;
        line-height: 12vw;
    }

    .hero-shape {
        width: 45vw;
        height: 46vw;
        right: 0%;
        top: 45%;
    }

    .hero-anim2 {
        height: 35vw;
        width: 35vw;
    }

    .hero-anim3 {
        height: 35vw;
        width: 35vw;
    }

    #video {
        height: 100%;
        width: 100%;
    }


    video {
        width: 94%;
        height: 70vh;
        margin-left: 3%;
        object-fit: cover;
        object-position: center;
        border-radius: 9%;
    }



    #page2-bottom h1 {
        font-size: 5vh;
        width: 65%;
        line-height: 5vh;
    }

    .btm-left {
        /* background: aqua; */
        position: absolute;
        bottom: 10%;
        left: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .btm-left-ball {
        height: 1vw;
        width: 1vw;
        background-color: var(--animationColor);
        border-radius: 50%;
    }

    #bottom-part2 {
        width: 50%;
        /* align-self: flex-end;
    justify-self: flex-end; */
        padding-left: 5%;
        gap: 20px;
    }

    #bottom-part2 img {
        height: 10%;
        width: 20%;
        /* border-radius: 15px; */
        object-fit: cover;
        object-position: center;
    }

    #bottom-part2 p {
        font-weight: 200;
        font-size: 2vw;
        margin-top: 2vw;
        /* width: 50%; */
        text-align: right;
    }


    #bottom-shape {
        position: absolute;
        width: 25vw;
        height: 25vw;
        left: 23%;
        top: 65%;
    }

    #bottom-anim3 {
        position: absolute;
        filter: blur(30px);
        border-radius: 50%;
        height: 24vw;
        width: 24vw;
        background: linear-gradient(var(--animationColor), #f34826);
        /* background: green; */
        animation: bottom-anime1 3s ease-in-out infinite alternate;
        /* top: 19%; */
        /* left: 0%; */
        transform: translate(-50%, -50%);
    }





    #loader h1 {
        font-size: 10vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(to right, orange, orangered);
        color: transparent;
        -webkit-background-clip: text;
        /* display: none; */
        opacity: 0;
    }


}

@media screen and (max-width:800px) {

    #page2 {
        position: relative;
        height: 95vh;
        width: 100%;
        background: var(--bgColor);
        padding: 4vw 0;
    }

    .ball {
        height: 6vw;
        width: 6vw;
        background-color: var(--animationColor);
        border-radius: 50%;
        display: inline-block;
        margin: 1vw 2vw;
    }

    .container {
        white-space: nowrap;
        display: inline-block;
        animation: move 10s linear infinite;
    }

    .moving-text h1 {
        font-size: 12vw;
        display: inline-block;
        padding: 2vw 0;
    }

    #page2 .moving-text {
        white-space: nowrap;
        overflow-x: auto;
    }

    .moving-text::-webkit-scrollbar {
        display: none;
    }

    #page2-bottom {
        height: 50vh;
        width: 100%;
        /* background: aqua; */
        /* padding: 4.5vw 0; */
        position: relative;
        z-index: 9;
        gap: 5%;
        flex-direction: column;
    }

    #page2-bottom h1 {
        font-size: 3vh;
        width: 100%;
        line-height: 3.5vh;
    }

    .btm-left {
        /* background: aqua; */
        position: absolute;
        bottom: -18%;
        left: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .btm-left-ball {
        height: 3.5vw;
        width: 3.5vw;
        background-color: var(--animationColor);
        border-radius: 50%;
    }

    .btm-left h5 {
        font-size: 3vw;

    }

    #bottom-part2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #bottom-part2 img {
        height: 30vw;
        width: 50vw;
        border-radius: 15px;
    }

    #bottom-part2 p {
        margin: 5vw 5vw 5vw 0vw;
        width: 90%;
        position: relative;
        z-index: 12;
        font-size: 2vh;
    }


    #bottom-shape {
        width: 50vw;
        height: 50vw;
        left: 45%;
        top: 65%;
    }

    #bottom-anim3 {
        height: 50vw;
        width: 50vw;
    }

    #page3 {
        background: var(--bgColor);
    }

    #page3 .elem {
        height: 8vh;
        width: 100%;
    }



    .elem h2 {
        font-size: 2.5vh;
        position: relative;
        z-index: 9;
        font-weight: 600;
    }

    #fixed-image {
        position: fixed;
        height: 30vh;
        width: 30vh;

    }


    #page4 {
        height: 32vh;
        width: 100%;
        background: var(--bgColor);
        /* background: red; */
    }

    #page5 {
        height: 40vh;
        border: 2px solid;
        width: 100%;
        background: transparent;
    }


}